.paragraphs {
	font-size: 18px;
	font-family: 'Indie Flower', cursive; 
	font-weight: bold;
	line-height: 1.5;

}

h1{
	font-family: 'Lobster', cursive;
}

h3 {
	font-family: 'Lobster', cursive;
}

h4 {
	font-family: 'Dosis', sans-serif;

}

a {
	color: green;
}

a:hover {
	color: lime;
}

a:active {
	color: blue;
}

a:focus{
	color: yellow;
}